body {
    margin: 0;
}

.landing-page {
    display: grid;

    grid-template-columns: 300px auto;
    grid-template-areas:
        "recent-network-list recent-network-graph"
        "recent-game-list recent-game-list";

    .panel {
        border: 1px solid #d1d5da;
        border-radius: 3px;

        margin: 4px;

        > .title {
            background: #f6f8fa;
            border-bottom: 1px solid #d1d5da;
            font-weight: bold;
            padding: 4px;
        }
    }

    .panel:not(.no-padding) {
        > .body {
            padding: 4px;
        }
    }
}

.recent-network-list {
    grid-area: recent-network-list;

    > .body {
        overflow-y: scroll;
        height: calc(282px - 24px);
        padding: 0;
    }

    .row {
        &:not(:first-child) {
            border-top: 1px solid #eaecef;
        }

        color: #586069;
        padding: 2px 8px 2px 4px;
        line-height: 18px;
        font-size: 90%;

        &:hover {
            background: #f6f8fa;
        }

        > .title {
            font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;

            width: 70%;
        }

        > .number-of-features {
            font-family: 'Lato';
            text-align: right;

            width: 30%;
        }

        > .title, > .number-of-features {
            display: inline-block;
        }
    }
}

.recent-network-graph {
    grid-area: recent-network-graph;

    > .body {
        height: calc(282px - 24px);

        // workaround for recharts `.responsive-container` not working with grid
        // nor flex layouts.
        position: relative;

        .fixed-container {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }

    .network-elo-tooltip {
        background: white;
        padding: 4px;
        border: 1px solid #d1d5da;

        .name {
            font-weight: bold;
        }

        table {
            font-size: 85%;
            opacity: 0.5;
        }
    }
}

.recent-game-list {
    grid-area: recent-game-list;

    > .body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .recent-game {
        margin: 4px;

        .recent-game-status {
            font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
            text-align: center;
            padding-bottom: 4px;

            color: #586069;
            transition: color 0.5s;
        }

        canvas {
            opacity: 0.8;
            transition: opacity 0.5s;
            cursor: pointer;
        }

        &:hover {
            .recent-game-status {
                color: black;
            }

            canvas {
                opacity: 1.0;
            }
        }
    }
}
